<% 
if(role) { 
    options = [{ name:'Users', path: '/admin/users/' }];
} else {
    options = {};
} 
%>

<%- contentFor('breadcrumbContent') %>
    <%- include('../partials/breadcrumb', { title: title, options: options, otherOption: '<i class="fa fa-plus"></i> Add User', otherOptionPath: '/admin/user/create' }); %>

<%- contentFor('pageContent') %>
    <%- include('../partials/message', { messages }); %>
    <table class="table m-t-10 table-hover">
        <thead>
            <tr class="footable-odd">
                <th width="100px;" class="text-center">
                    <%- include('../partials/column-sort', { orderColumn: params.orderColumn, orderBy: params.orderBy, type: 'id', columnName: 'S. No.' }); %>
                </th>
                <th>
                    <%- include('../partials/column-sort', { orderColumn: params.orderColumn, orderBy: params.orderBy, type: 'username', columnName: 'Username' }); %>
                </th>
                <th>
                    <%- include('../partials/column-sort', { orderColumn: params.orderColumn, orderBy: params.orderBy, type: 'email', columnName: 'Email' }); %>
                </th>
                <% if(typeof role != 'undefined' && role == 0) { %>
                <th>
                    <%- include('../partials/column-sort', { orderColumn: params.orderColumn, orderBy: params.orderBy, type: 'role_id', columnName: 'Role' }); %>
                </th>
                <% } %>
                <th width="150px;" class="text-center">
                    <%- include('../partials/column-sort', { orderColumn: params.orderColumn, orderBy: params.orderBy, type: 'status', columnName: 'Status' }); %>
                </th>
                <th width="150px;" class="text-center">Action</th>
            </tr>
            <tr>
                <th>
                    <%- include('../partials/column-filter', { filterColumn: 'id', filterPlaceholder: 'Id', filterValue: params.id }); %>
                </th>
                <th>
                    <%- include('../partials/column-filter', { filterColumn: 'username', filterPlaceholder: 'Username', filterValue: params.username }); %>
                </th>
                <th>
                    <%- include('../partials/column-filter', { filterColumn: 'email', filterPlaceholder: 'Email', filterValue: params.email }); %>
                </th>
                <% if(typeof role != 'undefined' && role == 0) { %>
                <th>
                    <select class="form-control role-change" name="role_id" id="role_id">
                        <option value="" <%= params.role === '' ? 'selected' : '' %>>Role</option>
                        <option value="1" <%= params.role === 1 ? 'selected' : '' %>>Administrators</option>
                        <option value="2" <%= params.role === 2 ? 'selected' : '' %>>Teachers</option>
                        <option value="3" <%= params.role === 3 ? 'selected' : '' %>>Students</option>
                    </select>
                </th>
                <% } %>
                <th>
                    <%- include('../partials/column-filter-status', { filterColumn: 'status', filterValue: params.status }); %>
                </th>
                <th class="text-center">
                    <button class="btn btn-warning btn-sm reset-search">Reset</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <% if(users.length) { %>
                <% for(var i = 0; i < users.length; i++) {%>
                    <tr class="<%= i%2 == 0 ? 'footable-odd' : 'footable-even' %> row-<%= users[i].id %>">
                        <td class="text-center"><%= users[i].id %></td>
                        <td><%= users[i].username %></td>
                        <td><%= users[i].email %></td>
                        <% if(typeof role != 'undefined' && role == 0) { %>
                            <td><%= users[i].role_name %></td>
                        <% } %>
                        <td class="text-center">
                            <%- include('../partials/show-status', { status: users[i].status }); %>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-info btn-sm" href="/admin/user/show/<%= users[i].id %>"><i class="fa fa-search"></i></a>
                            <a class="btn btn-primary btn-sm" href="/admin/user/edit/<%= users[i].id %>"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-danger btn-sm delete-user" data-user="<%= users[i].id %>" href="javascript:void(0);"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                <% } %>
            <% } else { %>
                <tr>
                    <td colspan="<%- (typeof role != 'undefined' && role == 0) ? 6 : 5 %>">
                        <div class="alert alert-warning">No Users Exist.</div>
                    </td>
                </tr>
            <% } %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="<%- (typeof role != 'undefined' && role == 0) ? 6 : 5 %>">
                    <%- include('../partials/pagination', { current, pages, path: '/category/' }); %>
                </td>
            </tr>
        </tfoot>
    </table>
                
    
    <script type="text/javascript">
        var params = JSON.parse('<%- JSON.stringify(params) %>');
        var messages = JSON.parse('<%- JSON.stringify(messages) %>');
    </script>
    <script type="text/javascript" src="/web/js/user.js"></script>