<%- contentFor('breadcrumbContent') %>
    <%- include('../partials/breadcrumb', { title: 'Update Category', options: [{name:'Categories', path:'/category/'}], otherOption: '<i class="mdi mdi-view-list"></i> Back to Categories', otherOptionPath: '/category/' }); %>
    
<%- contentFor('pageContent') %>
    <%- include('../partials/message', { messages }); %>
    <form class="form-horizontal form-material" method="post" action="/category/edit/<%= category.id %>" autocomplete="off">
        <div class="form-group">
            <label class="col-md-12">Name</label>
            <div class="col-md-12">
                <input type="text" placeholder="E.g. Website Development" class="form-control form-control-line" id="name" name="name" value="<%= category.name %>">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-12">Status</label>
            <div class="col-md-12">
                <select class="form-control form-control-line" name="status" id="status">
                    <option value="">Select Status</option>
                    <option value="1" <%= category.status == 1 ? 'selected' : '' %>>Active</option>
                    <option value="0" <%= category.status == 0 ? 'selected' : '' %>>Inactive</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </div>
    </form>           