<%- contentFor('breadcrumbContent') %>
    <%- include('../partials/breadcrumb', { title: 'Show Category', options: [{name:'Categories', path:'/category/'}], otherOption: '<i class="mdi mdi-view-list"></i> Back to Categories', otherOptionPath: '/category/' }); %>
    
<%- contentFor('pageContent') %>
    <table class="table table-hover">
        <tr>
            <th width="150px;">Name</th>
            <td><%= category.name %></td>
        </tr>
        <tr>
            <th>Status</th>
            <td>
                <% if(category.status == 1) { %>
                    <label class="label label-success">Active</label>
                <% } else { %>
                    <label class="label label-danger">In-active</label>
                <% } %>
            </td>
        </tr>
        <tr>
            <th>Created At</td>
            <td><%= category.created_at %></td>
        </tr>
        <tr>
            <th>Updated At</th>
            <td><%= category.updated_at %></td>
        </tr>
    </table>
    