<%- contentFor('breadcrumbContent') %>
    <%- include('../partials/breadcrumb', { title: 'Skills', options: {}, otherOption: '<i class="fa fa-plus"></i> Add Skill', otherOptionPath: '/admin/skill/create' }); %>

<%- contentFor('pageContent') %>
    <%- include('../partials/message', { messages }); %>
    <table class="table m-t-10 table-hover">
        <thead>
            <tr class="footable-odd">
                <th width="100px;" class="text-center">
                    <%- include('../partials/column-sort', { orderColumn: params.orderColumn, orderBy: params.orderBy, type: 'id', columnName: 'S. No.' }); %>
                </th>
                <th width="250px;" class="text-center">
                    <%- include('../partials/column-sort', { orderColumn: params.orderColumn, orderBy: params.orderBy, type: 'category_id', columnName: 'Category' }); %>
                </th>
                <th>
                    <%- include('../partials/column-sort', { orderColumn: params.orderColumn, orderBy: params.orderBy, type: 'name', columnName: 'Name' }); %>
                </th>
                <th width="150px;" class="text-center">
                    <%- include('../partials/column-sort', { orderColumn: params.orderColumn, orderBy: params.orderBy, type: 'status', columnName: 'Status' }); %>
                </th>
                <th width="150px;" class="text-center">Action</th>
            </tr>
            <tr>
                <th>
                    <%- include('../partials/column-filter', { filterColumn: 'id', filterPlaceholder: 'Id', filterValue: params.id }); %>
                </th>
                <th>
                    <select id="category" name="category" data-category="<%= params.category %>" class="form-control form-control-line category-change">
                        <option></option>
                    </select>
                </th>
                <th>
                    <%- include('../partials/column-filter', { filterColumn: 'name', filterPlaceholder: 'Name', filterValue: params.name }); %>
                </th>
                <th>
                    <%- include('../partials/column-filter-status', { filterColumn: 'status', filterValue: params.status }); %>
                </th>
                <th class="text-center">
                    <button class="btn btn-warning btn-sm reset-search">Reset</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <% if(skills.length) { %>
                <% for(var i = 0; i < skills.length; i++) {%>
                    <tr class="<%= i%2 == 0 ? 'footable-odd' : 'footable-even' %> row-<%= skills[i].id %>">
                        <td class="text-center"><%= skills[i].id %></td>
                        <td><%= skills[i].category_name %></td>
                        <td><%= skills[i].name %></td>                            
                        <td class="text-center">
                            <%- include('../partials/show-status', { status: skills[i].status }); %>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-info btn-sm" href="/admin/skill/show/<%= skills[i].id %>"><i class="fa fa-search"></i></a>
                            <a class="btn btn-primary btn-sm" href="/admin/skill/edit/<%= skills[i].id %>"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-danger btn-sm delete-skill" data-skill="<%= skills[i].id %>" href="javascript:void(0);"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                <% } %>
            <% } else { %>
                <tr>
                    <td colspan="5">
                        <div class="alert alert-warning">No Skills Exist.</div>
                    </td>                            
                </tr>
            <% } %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <%- include('../partials/pagination', { current, pages, path: '/skill/' }); %>
                </td>
            </tr>
        </tfoot>
    </table>                
    
    <script type="text/javascript">
        var params = JSON.parse('<%- JSON.stringify(params) %>');
        var messages = JSON.parse('<%- JSON.stringify(messages) %>');
    </script>
    <script type="text/javascript" src="/web/js/skill.js"></script>