<%- contentFor('breadcrumbContent') %>
    <%- include('../partials/breadcrumb', { title: 'Categories', options: {}, otherOption: '<i class="fa fa-plus"></i> Add Category', otherOptionPath: '/category/create' }); %>

<%- contentFor('pageContent') %>
    <%- include('../partials/message', { messages }); %>
    <table class="table m-t-10 table-hover">
        <thead>
            <tr class="footable-odd">
                <th width="100px;" class="text-center">
                    <%- include('../partials/column-sort', { orderColumn: params.orderColumn, orderBy: params.orderBy, type: 'id', columnName: 'S. No.' }); %>
                </th>
                <th>
                    <%- include('../partials/column-sort', { orderColumn: params.orderColumn, orderBy: params.orderBy, type: 'name', columnName: 'Name' }); %>
                </th>
                <th width="150px;" class="text-center">
                    <%- include('../partials/column-sort', { orderColumn: params.orderColumn, orderBy: params.orderBy, type: 'status', columnName: 'Status' }); %>
                </th>
                <th width="150px;" class="text-center">Action</th>
            </tr>
            <tr>
                <th>
                    <%- include('../partials/column-filter', { filterColumn: 'id', filterPlaceholder: 'Id', filterValue: params.id }); %>
                </th>
                <th>
                    <%- include('../partials/column-filter', { filterColumn: 'name', filterPlaceholder: 'Name', filterValue: params.name }); %>
                </th>
                <th>
                    <%- include('../partials/column-filter-status', { filterColumn: 'status', filterValue: params.status }); %>
                </th>
                <th class="text-center">
                    <button class="btn btn-warning btn-sm reset-search">Reset</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <% if(categories.length) { %>
                <% for(var i = 0; i < categories.length; i++) {%>
                    <tr class="<%= i%2 == 0 ? 'footable-odd' : 'footable-even' %> row-<%= categories[i].id %>">
                        <td class="text-center"><%= categories[i].id %></td>
                        <td><%= categories[i].name %></td>                            
                        <td class="text-center">
                            <%- include('../partials/show-status', { status: categories[i].status }); %>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-info btn-sm" href="/category/show/<%= categories[i].id %>"><i class="fa fa-search"></i></a>
                            <a class="btn btn-primary btn-sm" href="/category/edit/<%= categories[i].id %>"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-danger btn-sm delete-category" data-category="<%= categories[i].id %>" href="javascript:void(0);"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                <% } %>
            <% } else { %>
                <tr>
                    <td colspan="4">
                        <div class="alert alert-warning">No Categories Exist.</div>
                    </td>                            
                </tr>
            <% } %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <%- include('../partials/pagination', { current, pages, path: '/category/' }); %>
                </td>
            </tr>
        </tfoot>
    </table>
                
    
    <script type="text/javascript">
        var params = JSON.parse('<%- JSON.stringify(params) %>');
        var messages = JSON.parse('<%- JSON.stringify(messages) %>');
    </script>
    <script type="text/javascript" src="/web/js/category.js"></script>