<%- contentFor('breadcrumbContent') %>
    <%- include('../partials/breadcrumb', { title: 'Show Skill', options: [{name:'Skills', path:'/skill/'}], otherOption: '<i class="mdi mdi-view-list"></i> Back to Skills', otherOptionPath: '/skill/' }); %>
    
<%- contentFor('pageContent') %>
    <table class="table table-hover">
        <tr>
            <th width="150px;">Category</th>
            <td><%= skill.category_name %></td>
        </tr>
        <tr>
            <th width="150px;">Name</th>
            <td><%= skill.name %></td>
        </tr>
        <tr>
            <th>Status</th>
            <td>
                <% if(skill.status == 1) { %>
                    <label class="label label-success">Active</label>
                <% } else { %>
                    <label class="label label-danger">In-active</label>
                <% } %>
            </td>
        </tr>
        <tr>
            <th>Created At</td>
            <td><%= skill.created_at %></td>
        </tr>
        <tr>
            <th>Updated At</th>
            <td><%= skill.updated_at %></td>
        </tr>
    </table>